body {
	background: cornsilk;
	border-radius: 3px;
	background-image: url(./logo.jpeg);
	background-position: center;
	background-repeat: no-repeat;
}

.nasdem {
	color: blue;
	border-radius: 3px;
	transform: rotateX(150deg);
}

.asdf-main {
	color: blue;
	border-radius: 3px;
	transform: rotateX(150deg);
}
