.name {
	font-size: 2rem;
		color: blue;
	border-radius: 3px;
	transform: rotateX(150deg);
	.name-ganteng {
		color: tomato;
	}

}

.unused-sass-blabla {
	border-raduis: 1px;

	.header-title {
		background: purple;
	}
}

