.other1 {
	display: block;
	margin: 20px;
	padding: 20px;
	background: blue;
	position: aboslute;
	top: 21px;
	transform: rotateZ(90deg);
}

.unused-other-1 {
	color: blue;
	border-radius: 3px;
	transform: rotateX(150deg);
}